<div class="header-container">
  <app-filtro (actionResult)="onFiltrar($event)"></app-filtro>

  <div class="button-container">
    <app-button-acoes
      *ngIf="!isEditing"
      [label]="'Cadastrar'"
      [tipo]="'add'"
      (actionResult)="onCreate()"
    >
    </app-button-acoes>

    <app-button-acoes
      *ngIf="!isEditing"
      [label]="'Editar'"
      [tipo]="'edit'"
      [disabled]="!selectedItem"
      (actionResult)="onEdit()"
    >
    </app-button-acoes>

    <app-button-acoes
      *ngIf="!isEditing"
      [label]="'Deletar'"
      [tipo]="'delete'"
      [disabled]="!selectedItem"
      [dialogData]="DIALOG_DATA"
      (actionResult)="onDelete($event)"
    >
    </app-button-acoes>

    <app-button-acoes
      *ngIf="isEditing"
      [label]="'Salvar'"
      [tipo]="'save'"
      (actionResult)="onSave()"
    >
    </app-button-acoes>

    <app-button-acoes
      *ngIf="isEditing"
      [label]="'Cancelar'"
      [tipo]="'cancel'"
      (actionResult)="onCancel()"
    >
    </app-button-acoes>
  </div>
</div>

<div>
  <table>
    <thead class="header">
      <tr>
        <th class="coluna">ID</th>
        <th class="coluna">Nome</th>
      </tr>
    </thead>

    <tbody *ngFor="let item of itensPaginado?.itens">
      <tr
        (click)="onSelect(item)"
        (keydown.enter)="onSelect(item)"
        [ngClass]="{ selected: item === selectedItem }"
      >
        <td class="coluna" colspan="2">
          <app-item
            [item]="item"
            [idSelect]="selectedItem?.id"
            [isEditing]="isEditing"
          ></app-item>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="2">
          <app-paginacao
            *ngIf="itensPaginado"
            [paginacao]="itensPaginado"
            (paginaMudou)="onPaginaMudou($event)"
          >
          </app-paginacao>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
