.edit-button {
  background-color: #ff9800;
  color: white;
  padding: 0px 21px;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  height: 45px;
}

.edit-button mat-icon {
  margin-right: 8px;
  font-size: 20px;
}

.edit-button:hover {
  background-color: #fb8c00;
  cursor: pointer;
}

.edit-button:active {
  background-color: #f57c00;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.edit-button[disabled] {
  background-color: #ffb74d;
  color: rgba(255, 255, 255, 0.7);
  cursor: not-allowed;
}

.edit-button[disabled]:hover,
.edit-button[disabled]:active {
  background-color: #ffb74d;
  box-shadow: none;
}
