.cancel-button {
  background-color: #f44336;
  color: white;
  padding: 0px 14px;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  height: 45px;
  min-width: 90px;
}

.cancel-button mat-icon {
  margin-right: 3px;
  margin-top: 3px;
  font-size: 20px;
}

.cancel-button:hover {
  background-color: #d32f2f;
  cursor: pointer;
}

.cancel-button:active {
  background-color: #b71c1c;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
