.sidebar {
  left: 0;
  height: calc(100vh - 84px);
  background-color: #222;
  color: white;
  transition: width 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px;
  display: flex;
  align-items: center;
}

li i {
  margin-right: 10px;
  font-size: 18px;
}

li span {
  display: inline-block;
  transition: opacity 0.3s;
  opacity: 1;
}

li:hover {
  background-color: #444;
  cursor: pointer;
}

li:hover i {
  transform: scale(1.2);
}

.sidebar.collapsed li {
  justify-content: center;
}

.sidebar.collapsed li span {
  display: none;
}
